[submodule ".config/zathura"]
	path = .config/zathura/dracula
	url = https://github.com/dracula/zathura
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-history-substring-search"]
	path = .config/zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".config/todo/actions.d/due"]
	path = .config/todo/actions.d/due
	url = https://github.com/rebecca-owen/due.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".config/zsh/themes/dracula"]
	path = .config/zsh/themes/dracula
	url = https://github.com/dracula/zsh.git
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/todo/actions.d/dorecur"]
	path = .config/todo/actions.d/dorecur
	url = https://github.com/owenh000/todo.txt-cli-dorecur
[submodule ".config/todo/actions.d/revive"]
	path = .config/todo/actions.d/revive
	url = https://github.com/duncanje/todo.txt-revive.git
