# This is the .gitignore file of my dotfiles repo
.dotfiles-repo

# Ignore everything
# Use git add --force to add files
*

# Submodules:
!.config
.config/*

!.config/zathura/dracula

!.config/zsh
.config/zsh/*
!.config/zsh/plugins
!.config/zsh/plugins/*
!.config/zsh/themes
!.config/zsh/themes/*

!.oh-my-zsh

!.config/todo
.config/todo/*
!.config/todo/actions.d
!.config/todo/actions.d/*

!.vim
.vim/*
!.vim/bundle
.vim/bundle/*
!.vim/bundle/Vundle.vim
