set editing-mode vi

# Cursor types
# https://unix.stackexchange.com/questions/22527/change-cursor-shape-or-color-to-indicate-vi-mode-in-bash
# https://stackoverflow.com/questions/44534678/how-to-change-cursor-shape-depending-on-vi-mode-in-bash
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[5 q\2+ "
#set vi-ins-mode-string "\1\e[5 q\2\033[1;44m+\033[0m "
set vi-cmd-mode-string "\1\e[2 q\2: "
#set vi-cmd-mode-string "\1\e[2 q\2\033[1;42m:\033[0m "
