snippet if
if ($1)
{
    $0
}
endsnippet

snippet for
for ($1)
{
    $0
}
endsnippet

snippet while
while ($1)
{
    $0
}
endsnippet

snippet kaboom "print compile time constant" b
char (*__kaboom)[ $0 ] = 1;
endsnippet
